{% extends 'config.html' %}

{% block main %}

<h3>Servers</h3>

{% if servers %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Address</th>
            <th>Type</th>
            <th class="actions">Actions</th>
        </tr>
    </thead>
    <tbody>
{% for serv in servers %}
        <tr>
            <td>{{ serv['addr'] }}</td>
            <td>{{ serv['type'] }}</td>
            <td class="actions">
                <a class="btn btn-xs btn-primary" href="{{ url_for('status', server=serv['addr']) }}" title="Monitor"><i class="fa fa-bar-chart-o"></i></a>
                <button class="btn btn-xs btn-info" title="Edit" data-edit="{{serv|unsafejson}}"><i class="fa fa-pencil"></i></button>
                <a href="{{ url_for('config_servers_delete', server=serv['addr']) }}" class="btn btn-xs btn-danger" title="Delete" data-confirm="Do you really want to delete this server?"><i class="fa fa-times"></i></a>
            </td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info">There are no servers defined!</div>
{% endif %}

<button class="btn btn-success" data-toggle="modal" data-target="#create-server-modal">New server</button>



{% for modal,txt in [('create', "Add new server"), ('update', "Edit server")] %}
<div class="modal fade" id="{{modal}}-server-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
<form action="{{ url_for('config_servers_%s'%modal) }}" method="post" id="{{modal}}-server-form">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">{{txt}}</h4>
      </div>
      <div class="modal-body">
            <div class="errors"></div>

            <div class="form-group">
                <label for="{{modal}}-addr">Network address:</label>
                <input type="text" class="form-control" id="{{modal}}-addr" name="addr"{{' readonly'|safe if modal=='update' else ''}}>
            </div>
            <div class="form-group">
                <label for="{{modal}}-type">Type:</label>
                <input type="text" class="form-control" id="{{modal}}-type" name="type">
            </div>
            <div class="form-group">
                <label for="{{modal}}-rack">Rack:</label>
                <select class="form-control" id="{{modal}}-rack" name="rack">
{% for i in range(7) %}
                    <option value="{{ i }}">{{ i+1 }}</option>
{% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="{{modal}}-size">Size:</label>
                <select class="form-control size-field" id="{{modal}}-size" name="size" data-position="#{{modal}}-position">
{% for i in range(5) %}
                    <option value="{{ i+1 }}">{{ i+1 }} U</option>
{% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="{{modal}}-position">Position:</label>
                <input type="number" class="form-control position-field" value="1" id="{{modal}}-position" name="position" data-size="#{{modal}}-size" min="1" max="42">
            </div>
      </div>
      <div class="modal-footer">
        <span class="wait pull-left"><i class="fa fa-spinner fa-spin"></i> saving...</span>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
</form>
  </div>
</div>
{% endfor %}



{% endblock %}

{% block scripts %}
<script>
$(function(){
    $('.actions a, .actions button').tooltip();
    $('#create-server-form, #update-server-form').ajaxSubmit();
    $('.wait').hide();

    $('[data-edit]').on('click', function(){
        data = $(this).data('edit');
        $.each(data, function(k,v){
            $('#update-'+k).val(v);
        });
        $('#update-server-modal').modal('show');
    });

    $('.size-field').on('change', function(){
        var size = parseInt($(this).val())
        $($(this).data('position')).attr('max', 43-size);
    });
    $('.position-field').on('change', function(){
        var pos = parseInt($(this).val())
        $($(this).data('size')).find('option').each(function(i,el){
            var size = parseInt($(el).val());
            if(pos+size>43)
                $(el).prop('disabled', true);
            else
                $(el).prop('disabled', false);
        });
    });
})
</script>
{% endblock %}