{% extends 'config.html' %}

{% block main %}

<h3>ESXi hypervisors</h3>

{% if hypervisors %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Address</th>
            <th>Type</th>
            <th>Corresponding iLo server</th>
            <th class="actions">Actions</th>
        </tr>
    </thead>
    <tbody>
{% for hyperv in hypervisors %}
        <tr>
            <td>{{ hyperv['addr'] }}</td>
            <td>{{ hyperv['type'] }}</td>
            <td>{{ hyperv['ilo_addr'] }}</td>
            <td class="actions">
                <a class="btn btn-xs btn-primary" href="{{ url_for('esxi', rack_id=hyperv['rack']) }}" title="See in rack"><i class="fa fa-building-o"></i></a>
                <button class="btn btn-xs btn-info" title="Edit" data-edit="{{hyperv|unsafejson}}"><i class="fa fa-pencil"></i></button>
                <a href="{{ url_for('config_hypervisors_delete', hypervisor=hyperv['addr']) }}" class="btn btn-xs btn-danger" title="Delete" data-confirm="Do you really want to delete this ESXi hypervisor?"><i class="fa fa-times"></i></a>
            </td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info">There are no ESXi hypervisors defined!</div>
{% endif %}

<button class="btn btn-success" data-toggle="modal" data-target="#create-hyperv-modal">New hypervisor</button>



{% for modal,txt in [('create', "Add new ESXi hypervisor"), ('update', "Edit ESXi hypervisor")] %}
<div class="modal fade" id="{{modal}}-hyperv-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
<form action="{{ url_for('config_hypervisors_%s'%modal) }}" method="post" id="{{modal}}-hyperv-form">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">{{txt}}</h4>
      </div>
      <div class="modal-body">
            <div class="errors"></div>

            <div class="form-group">
                <label for="{{modal}}-addr">Network address:</label>
                <input type="text" class="form-control" id="{{modal}}-addr" name="addr"{{' readonly'|safe if modal=='update' else ''}}>
            </div>
            <div class="form-group">
                <label for="{{modal}}-type">Type:</label>
                <input type="text" class="form-control" id="{{modal}}-type" name="type">
            </div>
            <div class="form-group">
                <label for="{{modal}}-server_id">iLo server:</label>
                <select class="form-control" id="{{modal}}-server_id" name="server_id">
{% for serv in servers %}
                    <option value="{{ serv['id'] }}" data-hyperv="{{ serv['hypervisor'] if serv['hypervisor'] else '' }}">{{ serv['addr'] }}</option>
{% endfor %}
                </select>
            </div>
      </div>
      <div class="modal-footer">
        <span class="wait pull-left"><i class="fa fa-spinner fa-spin"></i> saving...</span>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
</form>
  </div>
</div>
{% endfor %}



{% endblock %}

{% block scripts %}
<script>
$(function(){
    $('.actions a, .actions button').tooltip();
    $('#create-hyperv-form, #update-hyperv-form').ajaxSubmit();
    $('.wait').hide();

    $('#create-server_id option[data-hyperv!=""]').prop('disabled', true);

    $('[data-edit]').on('click', function(){
        $('#update-server_id option').prop('disabled', false);
        data = $(this).data('edit');
        $.each(data, function(k,v){
            $('#update-'+k).val(v);
        });
        $('#update-server_id option[data-hyperv!="'+data.addr+'"]').filter('[data-hyperv!=""]').prop('disabled', true);
        $('#update-hyperv-modal').modal('show');
    });
})
</script>
{% endblock %}