{% extends 'base.html' %}

{% block container %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div style="position:relative">
                <canvas id="rack-diagram" width="1140" height="800"></canvas>
                <img id="mapme" src="{{ url_for('static', filename='null.gif') }}" usemap="#servers-map" style="position:absolute; top:0; left:0; width:1140px; height:800px;">
                <map name="servers-map" id="servers-map"></map>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
var canvas = $('#rack-diagram')[0];
var ctx = canvas.getContext('2d');

rackDiagram(ctx, $('#servers-map'), '{{ url_for('status', server='_') }}', [
    {
        name: 'pl-byd-esxi11-ilo',
        rack: 0,
        size: 2,
        pos: 0,
        temp: 27,
        power_supplies: [true, true]
    },
    {
        name: 'pl-byd-esxi12-ilo',
        rack: 0,
        size: 2,
        pos: 2,
        temp: 28,
        power_supplies: [false, true]
    },
    {
        name: 'pl-byd-esxi13-ilo',
        rack: 1,
        size: 3,
        pos: 1,
        temp: 25,
        power_supplies: [true, true]
    },
    /*{
        name: 'pl-byd-esxi14-ilo',
        rack: 4,
        size: 1,
        pos: 10,
        temp: 26,
        power_supplies: [true, true]
    }*/
]);
</script>
{% endblock %}