
<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>Temperature chart</title>

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <style type="text/css"></style>

    </head>
    <body>

        <div id="container" style="height: 400px; min-width: 310px"></div>

        <script src="http://code.highcharts.com/stock/highstock.js"></script>
        <script src="{{ url_for('static', filename='drawchart.js') }}"></script>
        <script>
$(function(){
    draw('json/server/{{ server }}/temperature', '#container')
});
        </script>
    </body>
</html>
